.course {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid var(--clr-black-light);
    border-radius: 0.25rem;
    max-width: min(100%, var(--course-card-width));
    color: var(--clr-black-light);
}

.course:nth-child(even) {
    background-color: rgb(253, 247, 247, 50%);
}

.course:nth-child(odd) {
    background-color: rgb(253, 247, 247, 35%);
}
.course__header-section {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 1rem;
    border-right: 1px dotted var(--clr-black-light);
}

.course__header-section__title {
    color: var(--clr-orange);
    margin-bottom: 0.5rem;
}

.course__header-section__professor {
    font-size: 1rem;
    border-bottom: 1px solid var(--clr-black-faded);
}

.course__info-section {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 0.5rem;
    padding: 1rem;
}

.course__info-section__description {
    text-align: start;
    border-bottom: 1px dotted currentColor;
}

.course__info-section__resources {
    text-align: start;
    border-bottom: 2px solid var(--clr-black-faded);

}

.course__info-section__resources__links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20ch), 1fr));
    place-items: center;
    gap: 0.25rem;
} 

.course__info-section__link-container {
    text-align: center;
}

.course__info-section__link {
    display: block;
    padding: 0.5em 1.25em;
    background-color: var(--clr-black-light);
    color: var(--clr-white);
    border-radius: 100vw;
    transition: box-shadow 175ms ease-in;
}

.course__info-section__link:hover {
    box-shadow: 2px 2px 3px var(--clr-black-faded);
}